<div class="container">

  <div class="row mt-3">
    {{#each articles}}
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header" style="position: relative;">
          <h4>{{this.dataValues.title}}
          <small class="text-muted" style="position: absolute;  right: 0; font-size: 14px;">
            Posted by {{this.dataValues.user.dataValues.username}} on {{moment this.dataValues.createdAt format="DD/MM/YYYY"}}
          </small></h4>
        </div>
        <div class="card-body">
          <p>{{this.dataValues.content}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
